.Blog {
  @include setFlex(column);
  width: 100% ;
  height: 100% ;

  &> .paginator,
  &> .menu {
    padding: $default-offset-a;
  }
  &> .content {
    align-self: stretch;
    height: 100% ;
    padding: $default-offset-a;

    &> .wrapper {
      overflow: hidden;
      height: 100% ;
    }
  }
}
