.BlogShortPost {
  @include setFlex(column);
  margin-bottom: $default-offset-b ;
  background-color: $color-white ;
  border-radius: $default-border-radius ;
  box-shadow: $default-shadow;
  width: 99% ;
  &[data-removed="true"] {
    opacity: $default-half ;
    pointer-events: none;
    filter: grayscale(1);
  }
  &> .wrapper {
    padding: $default-offset-a ;
    overflow: hidden auto ;
    width: 100% ;
    &> .header {
      @include setFlex(row, space-between, center );
      width: 100% ;
      &> .title {
        @include setFlex(row);
        flex: 1 ;
        color: $color-blue ;
        text-transform: uppercase;
      }
      &> .dateCreated {
        margin-right: $default-offset-a;
      }
    }
    &> .content {
      @include setFlex(row, space-between, center);
      padding: $default-offset-b 0 ;
      font-size: 75% ;
    }
    &> .actions {
      @include setFlex(row, flex-end, center);
      &> button {
        margin-left: $default-offset-b;
        box-shadow: $default-shadow;
      }
    }
  }
}
